* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 420px;
    height: 500px;
    background-color: #161616;
    color: #f1f1f1;
    border: none;
}

img {
    width: 50px
}

/* Style the header */
h1 {
    /* padding: 30px; */
    text-align: center;
    font-size: 32px;
    vertical-align: middle;
}

div {
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    align-items: center;
}

button {
    border-color: #60aae2;
    background-color: #050505;
    border-width: 1px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 150px;
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.column {
    padding: 5px;
}

.column.left {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.column.right {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
